<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Description</th>
          <th scope="col">% Completed</th>
          <th scope="col">User</th>
          <th scope="col">Completed?</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks">
            <td>{{ task.id }}</td>
            <td>{{ task.description }}</td>
            <td>{{ task.completionPercentage }}</td>
            <td>{{ task.user?.firstName }} {{task.user?.lastName}}</td>
            <td><input type="checkbox" name="completed" [(ngModel)]="task.completed" (change)=changeCompleted(task)/></td>
        </tr>
      </tbody>
    </table>

    <form (ngSubmit)="add()" #taskForm="ngForm">
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" [(ngModel)]="newTask.description" 
          class="form-control" 
          id="description" 
          name="description" 
          placeholder="Enter Task Description"
          required #description="ngModel">
      </div>
      <button type="submit" [disabled]="!taskForm.form.valid" 
        class="btn btn-info">Submit</button>
    </form>
  </div>
</div>